# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!lib/libcppunit.a
!lib/libcppunit-1.13.0.dylib
!lib/libcppunit.dylib
# Executables
*.exe
*.out
*.app

#build directory
build/*

#waf file
.waf*
.lock*
#travis is added
!.travis.yml
#gitignore added
!.gitignore